<!DOCTYPE html>
<html>
  <head>
    <title>Surveys App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
  </head>

  <body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <div class="container-fluid">
        <button class="navbar-toggler d-md-none order-1" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">
          <i class="bi bi-clipboard-data me-2"></i>
          Surveys App
        </a>

        <div class="navbar-nav">
          <div class="nav-item text-nowrap">
            <%# <a class="nav-link px-3" href="#">Sign out</a> %>
          </div>
        </div>
      </div>
    </header>

    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="position-sticky">
            <div class="d-flex align-items-center justify-content-center py-4 border-bottom">
              <div class="text-center">
                <%= image_tag "logo.png", 
                    class: "img-fluid mb-2", 
                    style: "max-height: 80px;",
                    alt: "Surveys App Logo" %>
              </div>
            </div>
            
            <div class="pt-3">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <%= link_to "#", class: "nav-link" do %>
                    <i class="bi bi-clipboard-data me-2"></i>
                    Surveys
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <% flash.each do |name, msg| %>
            <% bootstrap_class = name == "notice" ? "alert-success" : "alert-danger" %>
            <div class="alert <%= bootstrap_class %> alert-dismissible fade show my-3" role="alert">
              <%= msg.html_safe %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          <% end %>

          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
